{% extends "rest_framework/base.html" %}

{# Override this template in your own templates directory to customize #}

{% block meta %}
   
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   {{ block.super }}

{% endblock %}

{% block branding %}
   
   <a class='navbar-brand' rel="nofollow" href='https://www.django-rest-framework.org/'>
       Django REST Framework ...
   </a>
                    
{% endblock %}


{% block content %}

    <br />
    <b>Last updated:</b> 18-06-2026
    {{ block.super }}
        
    <div class="container">
      {% block body %}
       
      Happy use of Django :-)
      {{ block.super }}
       
    {% endblock %}
    </div>

{% endblock %}
